/* You can add global styles to this file, and also import other style files */
@import url('assets/fonts/botw-hylian/stylesheet.css');

body {}

.sheikah-transform {
  font-family: 'botw_hylianregular';
  letter-spacing: .25rem;

  &.uppercase {
    text-transform: uppercase;
  }

  &.lowercase {
    text-transform: lowercase;
  }
}
