/* You can add global styles to this file, and also import other style files */
@import url('assets/fonts/botw-hylian/stylesheet.css');

body {}

h2, h3, h4 {
   margin-bottom: 0;
}

.content {
   .form {
      max-width: 250px;

      input {
         display: block;
         width: 100%;
      }
   }
}

.sheikah-transform {
  font-family: 'botw_hylianregular';
  letter-spacing: .25rem;

  &.uppercase {
    text-transform: uppercase;
  }

  &.lowercase {
    text-transform: lowercase;
  }
}
